<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Первым 3 клиентам <s>55$</s> <strong class="text-primary">39$</strong> за м2</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="form cf" method="post" target="hidden_iframe"  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf7jtAnERSwmaSRe4zuf7L3bLjvXRoYJOQy9snNzDsFmN89KA/formResponse">
                                <iframe name="hidden_iframe" class="d-none"></iframe>
                                <div class="wizard">
                                    <div class="wizard-inner esconder_escritorio_mostrar_movil">
                                        <div class="connecting-line"></div>
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="nav-item">
                                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link active">
                                            <span class="round-tab">
                                                <i class="las la-warehouse"></i>
                                            </span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-item">
                                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link disabled">
                                            <span class="round-tab">
                                                <i class="las la-envelope-open-text"></i>
                                            </span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-item">
                                                <a href="#step3" data-toggle="tab" aria-controls="step5" role="tab" title="Step 3" class="nav-link disabled">
                                            <span class="round-tab">
                                                <i class="las la-check-circle"></i>
                                            </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 esconder_movil_mostrar_escritorio">
                                                <div class="wizard-inner ">

                                                    <ul class="nav nav-tabs" role="tablist" style="display: block!important;">
                                                        <li role="presentation" class="nav-item">
                                                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="btn btn-block btn-success active">
                                                                <i class="las la-calculator"></i> Калькулятор</a>
                                                        </li>
                                                        <li role="presentation" class="nav-item">
                                                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="btn btn-block btn-success disabled">
                                                                <i class="las la-paper-plane"></i> Отправить заявку
                                                            </a>
                                                        </li>
                                                        <li role="presentation" class="nav-item">
                                                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" class="btn btn-block btn-success disabled">

                                                                <i class="las la-check-circle"></i> Готово

                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-8">
                                                <div class="tab-content">
                                                    <div class="tab-pane active text-center" role="tabpanel" id="step1">
                                                        <h4 class="text-md-center font-weight-bold">Шаг 1: Рассчитать стоимость</h4>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="input-group mb-3 col-md-6">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Ширина</span>
                                                                    </div>
                                                                    <select class="form-control size_" id="width_" name="entry.373779458" >
                                                                        <option>9.6</option>
                                                                        <option>11.5</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">м</span>
                                                                    </div>
                                                                </div>

                                                                <div class="input-group mb-3 col-md-6">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Длина</span>
                                                                    </div>
                                                                    <input name="entry.378818788" class=" size_ form-control" id="length_" type="number" min="0">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">м</span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" id="opts">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input size_" type="checkbox" id="inlineCheckbox1" name="entry.342741276" >
                                                                        <label class="mb-0" for="inlineCheckbox1">Торец</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input size_" type="checkbox" id="inlineCheckbox2" name="entry.1543196956" >
                                                                        <label class="mb-0" for="inlineCheckbox2">Дверь</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input size_" type="checkbox" id="inlineCheckbox3" name="entry.545422124" >
                                                                        <label class="mb-0" for="inlineCheckbox3">Купол (тамбур)</label>
                                                                    </div>

                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input size_" type="checkbox" id="inlineCheckbox4" name="entry.1406200989" >
                                                                        <label class="mb-0" for="inlineCheckbox4">Форточка</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input size_" type="checkbox" id="inlineCheckbox5" name="entry.1848653673" >
                                                                        <label class="mb-0" for="inlineCheckbox5">Покрытие</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <hr>
                                                            <h3 class="font-weight-bold"> Примерная стоимость: $<span class="text-success" id="calc_result">0</span></h3>
                                                        </div>
                                                        <ul class="list-inline text-md-center mt-4">
                                                            <li><button type="button" class="btn btn-dark next-step next-button">ОФОРМИТЬ ЗАЯВКУ <i class="font-weight-bold las la-arrow-right"></i></button></li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane" role="tabpanel" id="step2">
                                                        <h4 class="font-weight-bold text-md-center">Шаг 2: Отправить заявку</h4>
                                                        <div class="row">
                                                            <div class="container">
                                                                <div class="form-group">
                                                                    <label for="phone">Телефон</label>
                                                                    <input type="number" class="form-control" id="phone" name="entry.482443987" placeholder="Телефон" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name">Ваше имя</label>
                                                                    <input type="text" class="form-control" name="entry.607120010" id="name" placeholder="Ваше имя" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="list-inline text-md-center">
                                                            <li><button type="submit" class="btn btn-primary next-step next-button text-uppercase">Отправить <i class="las la-paper-plane"></i></button></li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane" role="tabpanel" id="step3">
                                                        <div class="checkmark-container">
                                                            <figure class="checkmark-outline">
                                                                <figure class="checkmark"></figure>
                                                            </figure>
                                                        </div>
                                                        <h3 class="text-md-center">Готово</h3>
                                                        <div class="row">
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
