<!-- Modal -->
<div class="modal fade" id="phoneBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="phoneBackdropLabel">Первым 3 клиентам <s>55$</s> <strong class="text-primary">39$</strong> за м2</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="subscribe-form" method="post" target="hidden_iframe1" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf7wvDaf4O5XWvlmkWJ_DZSm0kJuPykCrSwAE3PLotdog17nw/formResponse">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <iframe name="hidden_iframe1" class="d-none"></iframe>

                            <input type="text" name="entry.606706935" required class="form-control mb-3" placeholder="Ваше Имя">
                            <input type="number" name="entry.1401758677" required class="form-control" placeholder="Ваш Телефон">

                            <div class="submit-response pt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="submit-button btn btn-primary" type="submit">Оставить заявку</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
            </form>
        </div>
    </div>
</div>
