<!DOCTYPE html>
<html lang="en">

<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="greenhouse, planting, farming" />
    <meta name="description" content="Build innovations using traditions and culture of Central Asia" />
    <meta name="author" content="Makers" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Nomad Greenhouse</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700,900&display=swap&subset=cyrillic" rel="stylesheet">

    <!-- inject css start -->

    <link href="assets/css/theme-plugin.css" rel="stylesheet" />
    <link href="assets/css/theme.min.css" rel="stylesheet" />

    <!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">

    <!-- preloader start -->

    <div id="ht-preloader">
        <div class="loader clear-loader">
            <span></span>
            <p>Nomad Greenhouse</p>
        </div>
    </div>

    <!-- preloader end -->

    <!--header start-->
    {{"navigation"}}
    <!--header end-->


    <!--hero section start-->

    <section class="custom-pt-1 custom-pb-2 bg-primary parallaxie position-relative" style="background-image: url(assets/images/bg/01.jpg);background-position: center center; background-size: auto; background-repeat: no-repeat;" data-overlay="6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <!-- Heading -->
                    <h1 class="display-4 text-white font-weight-bold mt-11 mb-7">
                        Первым 3 клиентам <del>55$</del> <ins>39$</ins> за м2
                    </h1>
                    <button class="position-relative btn btn-outline-light mb-lg-6 font-weight-bold pr-9" style="border: 5px solid #FFFFFF;border-radius: 10px;" data-toggle="modal" data-target="#phoneBackdrop">
                        Заказать ангар

                        <div class="arrow bounce"><i class="font-weight-bold las la-arrow-right"></i></div>
                    </button>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
        <div class="shape-1 bottom" style="height: 100px; overflow: hidden;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <polygon class="svg--sm" fill="#B2DE55" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100" />
                <polygon class="svg--lg" fill="#B2DE55" points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
            </svg>
        </div>
    </section>

    <!--hero section end-->


    <!--body content start-->

    <div class="page-content">

        <section class="position-relative bg-primary">
            <div id="particles-js" ><canvas class="particles-js-canvas-el" width="2842" height="504" style="width: 100%; height: 100%;"></canvas></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="font-w-8">Преимущества</h1>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .container -->
        </section>

        <!--services start-->

        <section>
            <div class="container">
                <!-- / .row -->
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4 mb-8 mb-lg-0">
                        <div class="feature px-4 py-7 rounded hover-translate text-center shadow">
                            <h5 class="mt-4 mb-lg-5 font-w-8">Широкая сфера применения</h5>
                            <p class="mb-lg-7">сфера применения ангаров не ограничена,
                                вы можете использовать их как автостоянку,
                                склад или для содержания скота. </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="feature px-4 py-7 rounded hover-translate text-center bg-white shadow">
                            <h5 class="mt-4 mb-1 font-w-8">Надежность</h5>
                            <p>за счет строения конструкции, которая состоит
                                из малых пирамид, ангар обладает
                                следующими характеристиками:</p>
                            <ul class="list-unstyled">
                                <li>Ветровая нагрузка до 60 м/с</li>
                                <li>Снеговая нагрузка 300 кг/м2</li>
                                <li>Сейсмостойкость до 9 баллов</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6 mt-6 mt-sm-0">
                        <div class="feature px-4 py-7 rounded hover-translate text-center shadow">
                            <h5 class="mt-4 mb-lg-5 font-w-8">Долговечность</h5>
                            <p class="mb-lg-10">сталь с антикоррозийной оцинковкой не разрушается
                                под воздействием атмосферных осадков.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--services end-->


        <!--about start-->

        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center bg-primary">
                    <div class="col-12 col-lg-7 mb-8 mb-lg-0 pl-0">
                        <img src="assets/images/about/05.png" alt="Image" class="img-fluid">
                    </div>

                    <div class="col-12 col-lg-5 ">
                        <div>
                            <h4 class="mt-2 font-w-7">Максимально качественная и надежная кровля</h4>
                            <p class="text-dark mb-0">Наши ангары покрываются профнастилом. Который представляет собой металлический лист, изготавливаемый из листовой оцинкованной стали, методом холодного проката на профилегибочных станах.</p>
                            <p class="text-dark">При изготовлении подвергается профилированию (приданию волнообразной, трапециевидной, квадратной и других форм) для повышения жёсткости.</p>

                            <div class="text-center"><button data-toggle="modal" data-target="#phoneBackdrop" class="btn btn-dark font-weight-bold text-white py-2 px-3 mb-2">ОФОРМИТЬ ЗАЯВКУ</button></div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center justify-content-center mt-7 bg-dark">
                    <div class="col-12 col-lg-5">
                        <div>
                            <h4 class="mt-2 font-w-7 text-white">Удобство в сборке и простота при реконструкции</h4>
                            <p class="text-white mb-0">Наш ангар собирается на болтовых соединениях, что дает возможность строительства в полевых условиях и в любое время года.</p>
                            <p class="text-white mb-0">Конструкция состоит из оцинкованных профилей и при повреждении ангара необходимо заменить только те профили, которые получили урон. Сам ангар не пострадает.</p>
                            <p class="text-white">Благодаря оцинковке конструкция не нуждается в покраске и обработки защитными составами, что уменьшает срок сборки.</p>
                            <div class="text-center"><button data-toggle="modal" data-target="#phoneBackdrop" class="btn btn-primary font-weight-bold py-2 px-3 mb-2">ОФОРМИТЬ ЗАЯВКУ</button></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 mb-8 mb-lg-0 pr-0">
                        <img src="assets/images/about/04.png" alt="Image" class="img-fluid">
                    </div>
                </div>

                <div class="row align-items-center justify-content-center mt-7 bg-primary">
                    <div class="col-12 col-lg-7 mb-8 mb-lg-0 pl-0">
                        <img src="assets/images/about/03.png" alt="Image" class="img-fluid">
                    </div>

                    <div class="col-12 col-lg-5">
                        <div>
                            <h4 class="mt-2 font-w-7">Оцинкованный стальной профиль</h4>
                            <p class="text-dark">Это металлическая балочная конструкция, изготовленная из тонкой оцинкованной стали.</p>
                            <p class="text-dark">Данное изделие имеет квадратную, овальную или многогранную форму и пустое пространство внутри.</p>
                            <p class="text-dark">Сталь подвергается оцинковке и холодному прокату. Это дает хороший запас прочности и не позволяет изделию заржаветь после монтажа.</p>
                            <div class="text-center"><button data-toggle="modal" data-target="#phoneBackdrop" class="btn btn-link font-weight-bold text-white px-3 mb-2">ОФОРМИТЬ ЗАЯВКУ</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--about end-->
    </div>

    <!--body content end-->


    <!--footer start-->

    {{> footer-black}}

    <!--footer end-->

    {{> phone}}

</div>

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="las la-angle-up"></i></a></div>

<!--back-to-top end-->

<!-- inject js start -->

<script src="assets/js/theme-plugin.js"></script>
<script src="assets/js/theme-script.js"></script>

<!-- inject js end -->

</body>

</html>