{{!< default}}

<section class="position-relative bg-primary" style="margin-top:90px">
    <div id="particles-js" class="z-index-1"><canvas class="particles-js-canvas-el" width="2842" height="504" style="width: 100%; height: 100%;"></canvas></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="font-w-8">Видео о нас</h1>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div>
                    <svg class="feather feather-map-pin" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <h4 class="mt-5">Главный офис:</h4>
                    <span class="text-black">Бишкек, ул. Уметалиева 98</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                    <h4 class="mt-5">Часы работы:</h4>
                    <span class="text-black">Пн-Пт, с 9:00 до 18:00</span>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer-black}}