{{!< default}}

<section class="position-relative bg-primary" style="margin-top:90px">
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="2842" height="504" style="width: 100%; height: 100%;"></canvas></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="font-w-8">Контакты</h1>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div>
                    <svg class="d-none d-sm-inline-block feather feather-map-pin" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <h4 class="mt-5">Главный офис:</h4>
                    <span class="text-black">Бишкек, ул. Уметалиева 98</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#1360ef" stroke-width="1" stroke-linejoin="round" class="d-none d-sm-inline-block feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                    <h4 class="mt-5">Часы работы:</h4>
                    <span class="text-black">Пн-Пт, с 9:00 до 18:00</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-between text-center">
            <div class="col-12 col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11694.872971733972!2d74.5791347!3d42.8787908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec819d5628ebd%3A0x73c99ed29fe16f7a!2s98%20T.%20Umetaliev%20St%2C%20Bishkek!5e0!3m2!1sen!2skg!4v1584790433261!5m2!1sen!2skg" frameborder="0" style="border:0;width:100%;height:450px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-12 col-sm-5 flex-column align-content-around">
                <div>
                    <h2 class="mt-4 mb-0 font-weight-bold">Мы открыты к сотрудничеству! </h2>
                    <p class="lead mb-3">Напишите нам и мы вместе воплотим любой ваш смелый проект в жизнь!</p>
                </div>

                <form id="contact-form" class="row" method="post" action="php/contact.php" novalidate="true">
                    <div class="messages"></div>
                    <div class="form-group col-md-12">
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Имя" required="required" data-error="Имя обязательно.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Телефон" required="required" data-error="Телефон обязателен">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="col-md-12 text-center mt-4">
                        <button class="btn btn-dark btn-block text-uppercase"><span>Отправить</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{> footer-black}}