{{!< default}}

<section class="position-relative bg-primary" style="margin-top:90px">
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="2842" height="504" style="width: 100%; height: 100%;"></canvas></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="font-w-8">Видео о нас</h1>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div>
                    <!-- Image -->
                    <img src="{{asset "images/about/10.png"}}" class="img-fluid" alt="...">
                    <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
                        <div class="spinner-eff">
                            <div class="spinner-circle circle-1"></div>
                            <div class="spinner-circle circle-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / .container -->
</section>


<section class="position-relative">
    <div class="container">
        <!-- / .row -->
        <div class="row justify-content-center">
            <div class="col">
                <div class="owl-carousel" data-dots="false" data-nav="true" data-items="3" data-md-items="2" data-sm-items="2" data-margin="30" data-autoplay="true">
                    <div class="item">
                        <div class="bg-primary-soft shadow hover-translate rounded text-center p-5">
                            <div class="mb-3 position-relative">
                                <img class="img-fluid rounded-top d-inline" src="{{asset "images/about/12.png"}}" alt="">
                                <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-1">Видео с места строительства</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bg-primary-soft shadow hover-translate  rounded text-center p-5">
                            <div class="mb-3 position-relative">
                                <img class="img-fluid rounded-top d-inline" src="{{asset "images/about/13.png"}}" alt="">
                                <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-1">Видео от наших партнеров</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bg-primary-soft shadow hover-translate  rounded text-center p-5">
                            <div class="mb-3 position-relative">
                                <img class="img-fluid rounded-top d-inline" src="{{asset "images/about/14.png"}}" alt="">
                                <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="la la-play"></i></a>
                                </div>
                            </div>
                            <div>
                                <h5 class="mb-1">Новости</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer-black}}