@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Roboto&display=swap');

.bg-green{
	background: #B2DE55;
}

.welcome-page-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #2c2c2c;
}

.welcome-page-but {
    color: #73A310;
    text-transform: uppercase;
    border: 4px solid #73A310;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

.welcome-page-item {
    color: #2c2c2c;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav-logotype {
    width: 100px;
}

.welcome-hangars {
    font-family: 'Montserrat', sans-serif;
}

.feature-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.feature-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #2c2c2c;
}

.form-name {
    border-radius: 20px;
    text-align: left;
}

.bg-black {
    background-color: #000;
    border: #2c2c2c;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

.bg-title {
    background-color: #B2DE55;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.info-desc {
    color: #393939;
    font-weight: 500;
}

.bg-footer{
    background: #393939;
    border-radius: none;
}

.info-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #B2DE55;
}

.desc-footer {
    font-size: 22px;
    color: #B2DE55;
    font-family: 'Montserrat', sans-serif;
}
/* .welcome-page-but:hover {
    background-color: #73A310;
    color: #fff;
    transition: 1.2s;
    border: #fff;
} */

/* .pulse-button {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
    -webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
-webkit-animation: none;
} */